#Entrada {
    height: 100vh;

    padding-top: 20px;

    background-color: var(--Claro);

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    overflow: hidden;
}

#Entrada h1 {
    width: 100%;

    text-align: center;
}

#Entrada .entrada {
    width: 60%;
    height: 35%;

    background-color: var(--Intermedio);
    color: white;

    display: flex;
}

#Entrada .entrada.izquierda{
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

#Entrada .entrada.derecha{
    margin-left: 40%;

    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;

    flex-direction: row-reverse;
}

#Entrada .entrada .texto {
    height: 100%;
    width: 70%;
}

#Entrada .entrada .texto h2{
    width: 100%;

    text-align: center;
    font-size: 2rem;
}

#Entrada .entrada .texto .items{
    display: flex;

    margin-left: 20px;
    margin-right: 20px;
}

#Entrada .entrada .texto .items li{
   text-align: left;
}

#Entrada .entrada .texto ul{
    width: 100%;

    text-align: center;
    font-size: 1.3rem;
}
#Entrada .entrada .precio {
    height: 100%;
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
}
#Entrada .entrada .precio h3{
    font-size: 2.5rem;
}

@media (max-width: 500px) {
    #Entrada .entrada {
        width: 80%;
        height: 40%;

        flex-direction: column;
    }
    #Entrada .entrada.derecha{
        margin-left: 20%;
        flex-direction: column;
    }
    #Entrada .entrada .texto h2{
        width: 100%;
    
        text-align: center;
        font-size: 1.5rem;
    }
    #Entrada .entrada .texto {
        height: 100%;
        width: 100%;
    }
    #Entrada .entrada .precio {
        height: 100%;
        width: 100%;
    }
    #Entrada .entrada .precio h3 {
        font-size: 2.5rem;
        margin: 0;
    }
    #Entrada .entrada .texto ul {
        font-size: 1.1rem;
    }
    #Entrada .entrada .texto li {
        margin-bottom: 5px;
    }
}