#Tematica {
  height: 100vh;
  /* width: 90vw; */

  /* padding-top: 20px; */
  padding-left: 50px;
  padding-right: 50px;

  overflow: hidden;
  background-color: var(--Claro);
}

#Tematica h1 {
  color: var(--Oscuro);

  font-size: 6rem;
}

#Tematica .container {
  display: flex;
}

#Tematica .container p {
  font-size: 1.5rem;
}

@media (max-width: 1400px) {
  #Tematica {
    padding-top: 20px;
  }

  #Tematica h1 {
    font-size: 4rem;
  }

  #Tematica img {
    height: 60vh;
    width: auto;
  }

  #Tematica .container p {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  #Tematica{
    height: fit-content;
  }

  #Tematica h1 {
    font-size: 2rem;
  }
  
  #Tematica img {
    display: none;
  }
}