footer{
    /* height: 200px; */
    margin-left: 70px;
    margin-bottom: 20px;
    /* background-color: red; */

    position: fixed;
    bottom: 0;

    z-index: 10;
}

footer img{
    height: 100px;
}


@media (max-width: 500px) {
    footer{
        margin-left: 30px;
        margin-bottom: 10px;
    }
    
    footer img{
        height: 70px;
    }    
       
}