html{
  scroll-behavior: smooth;

  background-color: var(--Claro);
}

:root{
  /* colores biejos */
  --Celeste: #78CDD7;
  --VerdeMedio: #44A1A0;
  --VerdeOscuro: #0D5C63;

  /* colores nuevos */
  --Oscuro: #12284C;
  --Intermedio: #7BA0C4;
  /* --Claro: #A39383; */
  /* --Claro: #EBE5E3; */
  --Claro: #EEE0CB;
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 8px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: var(--Oscuro);
}

h1{
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6{
  color: var(--Oscuro);
}